@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fafafb; */
  background-color: white;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: auto;
  padding-left: auto;
}
